.wrapper {
  margin: var(--obj-margin-mobile);
  width: 300px;
}
@media (min-width: 450px) {
  .wrapper {
    width: 400px;
  }
}
@media (min-width: 640px) {
  .wrapper {
    width: 540px;
  }
}
@media (min-width: 768px) {
  .wrapper {
      width: 680px;
  }
}

.wrapper h1 {
  color: var(--grey-100) !important;
}

/* *** */
.container {
	padding: 1rem 0;
	text-align: center;
}

.container h2 {
  font-size: 40px;
  transition-duration: .5s;
  transition-timing-function: ease-in-out;
  font-weight: 300;
  color: var(--text-normal);
}

.errors {
  font-size: var(--font-smaller);
  color: var(--rhone-orange);
  text-align: start;
  padding-left: 20px;
}

/* *** */
.form {
  padding: 20px 0;
}
/* @media (min-width: 1024px) {
  .form {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
} */

.form input,
.form fieldset,
.form select,
.form textarea {
  display: block;
  appearance: none;
  outline: 0;
  background-color: var(--grey-050);
  width: 275px;

  border: none;
  border-radius: var(--border-radius);
  padding: 10px 15px;
  margin: 0 auto 10px auto;
  font-size: 18px;

  color: var(--grey-900);

  transition-duration: .5s;
  transition-timing-function: ease-out;
}
@media (min-width: 450px) {
  .form input,
  .form fieldset,
  .form select,
  .form textarea {
    width: 350px;
  }
}
@media (min-width: 640px) {
  .form input,
  .form fieldset,
  .form select,
  .form textarea {
    width: 500px;
  }
}

.form textarea {
  height: 125px;
}

.input::placeholder {
  color: var(--grey-900);
  /* font-weight: 300; */
}
/* ::-webkit-input-placeholder {
  color: var(--grey-900);
  font-weight: 300;
}
::-moz-placeholder {
  color: var(--grey-900);
  opacity: 1;
  font-weight: 300;
}
:-moz-placeholder {
  color: var(--grey-900);
  opacity: 1;
  font-weight: 300;
}
:-ms-input-placeholder {
  color: var(--grey-900);
  font-weight: 300;
} */

.form input:hover {
  background-color: rgba(207, 207, 207, 0.6);
}

.form input:focus {
  background-color: white;
  /* width: 250px; */
  color: var(--grey-900);
}

.form button {
  appearance: none;
  outline: 0;
  background-color: var(--rhone-orange);
  /* border: 1px solid var(--grey-700); */
  border: none;
  border-radius: var(--border-radius);
  padding: 10px 15px;
  color: var(--grey-050);
  width: 225px;
  cursor: pointer;
  font-size: 18px;
  transition-duration: 0.25s;
  margin: 2rem auto 0 auto;
  display: block;
  text-decoration: none;
}
